<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head") %>
  </head>
  <body data-theme="light">
    <%- include("partials/header") %>
    <main class="container">
      <section class="utils grid">
        <nav aria-label="breadcrumb" class="folderNav">
          <ul>
            <li><a href="/">/</a></li>
            <li><a href="#">folder1</a></li>
            <li>folder2</li>
          </ul>
        </nav>
        <nav class="addItems">
          <ul>
            <li
              role="button"
              data-target="fileUploadModal"
              onclick="toggleModal(event)"
            >
              <%- include("svg/fileUpload.svg") %>
            </li>
            <li
              role="button"
              class="contrast"
              data-target="newFolderModal"
              onclick="toggleModal(event)"
            >
              <%- include("svg/createNewFolder.svg") %>
            </li>
          </ul>
        </nav>
      </section>
      <%- include("partials/errors.ejs") %> 
      <%- include("partials/newFolderModal.ejs") %>
      <%- include("partials/fileUploadModal.ejs") %>
    </main>
  </body>
</html>
