<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head") %>
  </head>
  <body data-theme="light">
    <%- include("partials/header") %>
    <main class="container">
      <section class="utils grid">
        <nav aria-label="breadcrumb" class="folderNav">
          <ul>
            <li><a href="/">/</a></li>
            <% if (locals.currentFolderName)
            currentFolderName.split("/").forEach((chunk, index) => { %>
            <li>
              <a href="/vault"> <%= chunk %> </a>
            </li>
            <% }) %>
          </ul>
        </nav>
        <nav class="addItems">
          <ul>
            <li>
              <button
                data-target="fileUploadModal"
                onclick="toggleModal(event)"
              >
                <%- include("svg/fileUpload.svg") %> File Upload
              </button>
            </li>
            <li>
              <button
                class="contrast"
                data-target="newFolderModal"
                onclick="toggleModal(event)"
              >
                <%- include("svg/createNewFolder.svg") %> Create Folder
              </button>
            </li>
          </ul>
        </nav>
      </section>
      <section class="items">
        <% folders.forEach(folder => { %>
        <a class="folder" href="/vault/<%= folder.id %>"><%= folder.name %></a>
        <% }) %>
      </section>
      <%- include("partials/errors.ejs") %> <%-
      include("partials/newFolderModal.ejs") %> <%-
      include("partials/fileUploadModal.ejs") %>
    </main>
  </body>
</html>
