<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head") %>
  </head>
  <body data-theme="light">
    <%- include("partials/header") %>
    <main class="container">
      <section class="utils grid">
        <nav aria-label="breadcrumb" class="folderNav">

          <ul>
            <li><a href="/">/</a></li>
            <% if (locals.currentFolder) { %>
              <% if (currentFolder.parent) { %>
                <% if (currentFolder.parent.parent_id) { %>
                <li><a href="/vault/<%= currentFolder.parent.parent_id%>">...&nbsp;</a></li>
                <% } %>
                <li>
                  <a href="/vault/<%= currentFolder.parent.id %>">
                    <%= currentFolder.parent.name.length > 20 ? `${currentFolder.parent.name.slice(0, 17)}...` : currentFolder.parent.name %>
                  </a>
                </li>
              <% } %>
            <li>
              <%= currentFolder.name.length > 20 ? `${currentFolder.name.slice(0, 17)}...` : currentFolder.name %>
            </li>
            <% } %>
          </ul>
        </nav>
        
        <button
          class="fileUpload"
          data-target="fileUploadModal"
          onclick="toggleModal(event)"
        >
          <%- include("svg/fileUpload.svg") %>
        </button>
        <button
          class="newFolder contrast"
          data-target="newFolderModal"
          onclick="toggleModal(event)"
        >
          <%- include("svg/createNewFolder.svg") %>
        </button>
      </section>
      <section class="itemsContainer">
        <% if(locals.folders) folders.forEach(folder => { %>
          <div class="folderBox">
            <a
              class="folder outline secondary"
              role="button"
              href="/vault/<%= folder.id %>"
              title="<%= folder.name %>"
            >
              <%- include("svg/folder.svg") %> 
              <%= folder.name.length > 20 ? `${folder.name.slice(0, 17)}...` : folder.name %>
            </a>

            <details class="dropdown">
              <summary><%- include("svg/bi--three-dots-vertical.svg")%></summary>
              <ul>
                  <li class="editFolder">
                    <a href="#" data-target="editFolderModal" onclick="toggleModal(event)">
                      <%- include("svg/mdi--edit.svg")%> Edit
                    </a>
                  </li>
                  <li class="deleteFolder">
                    <form action="vault/<%= folder.id %>/delete" method="post">
                      <a href="#" onclick="this.closest('form').submit(); return false;">
                        <%- include("svg/mdi--delete.svg")%> Delete
                      </a>
                    </form>
                  </li>
              </ul>
            </details>
            <%- include("partials/editFolderModal.ejs", { folder: folder}) %> 
          </div>
        <% }) %>
        <% if(locals.files) files.forEach(file => { %>
        <a
          class="file outline"
          role="button"
          href="/vault/file/<%= file.id %>"
          title="<%= file.name %>"
        >
          <%- include(`svg/mdi--file-${file.mimetype.split("/")[0]}.svg`) %> 
          <%= file.name.length > 20 ? `${file.name.slice(0, 17)}...` : file.name %>
        </a>
        <% }) %>
      </section>
      <%- include("partials/errors.ejs") %> 
      <%- include("partials/newFolderModal.ejs") %> 
      <%- include("partials/fileUploadModal.ejs") %>
    </main>
  </body>
</html>
